/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.body {
  font-size: 16px;
  font-family: "Lft Etica";
  line-height: 20px;
  font-style: normal;
  font-weight: 400;
}
.header{
 background-color: black;
 position: fixed;
 width: 100%;
}
.names {
  font-size: 22px;
  color: white;
  padding: 10px;
  width: 50%;
}
h1 {
  position: relative;
}
span {
  padding-right: 100px;
  position:absolute;
  left: 30px;
  background-color: black;
  opacity: 0;
  transition-duration: .25s;
  transition-property: opacity;
}
.names:hover span {
  opacity: 1;
}
.name {
  display: inline-block;
  position: relative;
}
.surname{
  margin-top: -5px;
}
.catriona {
    animation: hideshow 5s 1.5s ease infinite;
}
@keyframes hideshow {
  0% { opacity: 1; }
  10% { opacity: 1; }
  50% { opacity: 0; }
  100% { opacity: 0; }
}
button
{
  background-color: black;
  border: none;
  color: white;
}
h2 
{
  font-size: 18px;
  float: left;
  display: inline-block;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
}
a:visited, a:link {
  color: white; 
  text-decoration: none;
}
a:hover {
  text-decoration: line-through;
}
.menu
{
  position: absolute;
  top: 10px;
  right: 50px;
}
.main{
  margin-left: auto;
  margin-right: auto;
  max-width: 1100px;
  width: 95%;
  padding-top: 50px;
}
aside{
  width: 300px;
  text-align: right;
  transform:rotate(-90deg);
  transform-origin: right;
  transform-origin: 120% 0%;
  position: fixed;
  left: -340px;
  font-size: 20px;
}
article {
  padding-top: 30px;
  padding-left: 25px;
  padding-right: 25px;
}
.images {
  opacity: 0.25;
  float: left;
  display: inline-block;
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 20px;
  box-sizing: border-box;
  transition-duration: 0.25s;
}
.images:hover {
  opacity: 1;
}
#edifly{
  width:60%;
}
#tmiy{
  width:40%;
}
#refugee{
  width:30%;
}
#shed
{
  width:55%;
}
#domino
{
  width:30%;
}
#package
{
  width:50%
}
#scher
{
 width:60%;
}
#barras
{
  width:40%;
}
#banner
{
  width:60%;
}
#apple
{
  width:40%;
}
section, h3 
{
  position: absolute;
  right: 100px;
  text-align: right;
}
h3
{
  font-size:18px;
  margin-top: 80px;
  font-weight: bold;
}
#about
{
  top: 2500px;
}
#education
{
  top: 2620px;
}
#contact
{
  top: 3000px;
}
#email
{
  top: 3120px;
}
.sidemenu 
{
  width: 400px;
  text-align: left;
  transform:rotate(-270deg);
  transform-origin: right;
  transform-origin: -10% 40%;
  position: absolute;
  right: -410px;
}
#sidemenu1
{
  top: 2500px;
}
#sidemenu2
{
  top: 3000px;
}
h4, h5
{
  background-color: black;
  font-size: 18px;
  float: left;
  display: inline-block;
  padding-left: 20px;
  padding-right: 20px;
}
#about2
{
  text-decoration: line-through;
}
#contact3
{
  text-decoration: line-through;
}


