/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.body {
  font-size: 16px;
  font-family: "Neuzeit Grotesk";
  line-height: 20px;
  font-style: normal;
  font-weight: 400;
}
.header{
 background-color: white;
 position: fixed;
 width: 100%;
 z-index: 1;
}
.names {
  font-size: 22px;
  color: black;
  padding: 10px;
  width: 50%;
  margin-left: 50px;
  display: block;
  padding-top: 20px;
}
h1 {
  position: relative;
}
span {
  padding-right: 100px;
  position: absolute;
  left: 28px;
  background-color: white;
  opacity: 0;
  transition-duration: .25s;
  transition-property: opacity;
  padding-top: 5px;
  margin-top: -5px;
}
.names:hover span {
  opacity: 1;
}
.name {
  display: inline-block;
  position: relative;
}
.surname{
  margin-top: -5px;
}
button
{
  background-color: white;
  border: none;
}
.hamburger
{
  width: 30px;
  height: 30px;
}
h2 
{
  font-size: 18px;
  float: left;
  display: none;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
}
.menu a:visited, a:link 
{
  color: black; 
  text-decoration: none;
}
.sidemenu a:hover, .menu a:hover 
{
  text-decoration: line-through;
}
.menu
{
  position: absolute;
  top: 15px;
  right: 60px;
}
.main 
{
  margin-left: auto;
  margin-right: auto;
  max-width: 900px;
  width: 95%;
  padding-top: 50px;
}
aside
{
  width: 300px;
  text-align: right;
  transform:rotate(-90deg);
  transform-origin: right;
  transform-origin: 120% 0%;
  position: fixed;
  left: -200px;
  font-size: 20px;
}
#desc-display
{
  padding-top: 40px;
}
.imagebody
{
  overflow: auto;
  padding-top: 30px;
  padding-left: 20px;
  width: 85%;
  float: left;
  display: inline-block;
}
.images {
  float: left;
  padding-right: 40px;
  padding-left: 40px;
  padding-top: 20px;
  box-sizing: border-box;
  transition-duration: 0.25s;
}
.images:hover 
{
  opacity: 0.5;
}
#edifly{
  width:50%;
}
#tmiy{
  width:44%;
}
#refugee{
  width:30%;
}
#shed
{
  width:55%;
}
#domino
{
  width:30%;
}
#package
{
  width:50%
}
#scher
{
 width:60%;
}
#barras
{
  width:40%;
}
#banner
{
  width:60%;
}
#apple
{
  width:40%;
}

.all-text
{
  padding-top: 30px;
}

h3
{
  font-size: 18px;
  padding-bottom: 20px;
  font-weight: bold;
  margin-top: 80px;
}
.contact, .about
{
  text-align: right;
  float: right;
  padding-right: 10px;
  padding-bottom: 100px;
  width: 100%;
}
.dates
{
  color: grey;
}
li
{
  list-style-type: none;
  padding-bottom: 20px;
}
